@page "/"
@inject HttpClient http
@inject AuthStateProvider authState

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (test == null)
{
    <p>Yukleniyor</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in test)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


<button @onclick="@( () => authState.MarkUserAsLoggedOut())"> Çıkış yap</button>

<button @onclick="@Logout"> Çıkış yap</button>

@code{

    List<WeatherForecast> test;

    protected override async Task OnInitializedAsync()
    {
        test = await http.GetFromJsonAsync<List<WeatherForecast>>("WeatherForecast");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    async Task Logout()
    {
        authState.MarkUserAsLoggedOut();
    }
}